
$primary-color:#90A9B7;

*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}
body{
    margin: 0;
}

.container{
    margin: auto;
    width: 80%;    
    max-width: 1140px;
    // background-color: rgb(255, 204, 110);
}
// ========================================================
// 頁首區
// ========================================================
header{
    background-color: blanchedalmond;
}

header>.container>h1{    
    padding-top: 20px;
}
header>.container>h1>a{
    color: $primary-color;
}
header>.container>nav>ul{
    display: flex;
    justify-content: space-between;
}
header>.container>nav>ul>li{
    margin-right: 30px;
}
header>.container>nav>ul>li>a{
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

// ========================================================
// 內容區
// ========================================================

.img-fluid{
    width: 100%;
}
.img-rounded{
    border-radius: 8px;
    // 圖片圓角
}
.img.circle{
    border-radius: 100%;
    // 圖片圓形
}
.row{
    display: flex;
    flex-wrap: wrap;
    // 換行
    // justify-content: space-between;
}
.text-center{
    text-align: center;
    // 文字置中
}
.text-left{
    text-align: left;
}
.text-justify{
    text-align: justify;
}
.col-3{
    width:calc(100% / 4 -30px);
    margin: 20px 15px 20px 15px;
    // 上右下左
    box-sizing: border-box;
}
// .col-4 {
//     width: calc(100% / 3 - 30px);
//     margin: 0px 15px 40px 15px;
//     /*上右下左*/
//   }
  
.col-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }
.title a{
    color: #3b8ebf;
    font-size: 1.5em;
    font-weight: 600;
}
.date{
    color:$primary-color
}
// ===========================================
// 頁尾區塊
// ===========================================
footer{
    background-color: $primary-color;
    padding: 40px 0 40px 0;
}
dt{
    font-size: 1.2em;
    margin-bottom: 10px;
}
dd{
    margin-bottom: 4px;
}
dd>a{
    color: #0d1a22;
}
// =========================================
// 平面作品
// =========================================
.left{
width: 25%;
margin: auto;   
max-width: 1140px;
background-color: #0d1a22;
}
.right{
width: 75%;
margin: auto;   
max-width: 1140px;
// background-color: rgb(255, 204, 110);
}
.col-4 {
    width: calc(75% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }