* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background-color: blanchedalmond;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
}

h1 {
  color: #90A9B7;
}

header > .container > nav > ul {
  display: flex;
  justify-content: space-between;
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  color: #90A9B7;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img.circle {
  border-radius: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.col-3 {
  width: calc(100% / 4 -30px);
  margin: 20px 15px 20px 15px;
  box-sizing: border-box;
}

.title a {
  color: #3b8ebf;
  font-size: 1.5em;
  font-weight: 500;
}

.date {
  color: #90A9B7;
}

footer {
  background-color: #90A9B7;
  padding: 40px 0 40px 0;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: #0d1a22;
}