doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title dan
  link(rel='stylesheet' href='public/css/style.css')
// header start
// header>.container>h1{Ayn's Portfolio}+nav>ul>li*4>a[href="#"]{文字}
body 
  header
    .container
      a.icon-menu(href="#") menu
      h1
        a(href='index.html')  dan's Portfolio
      nav
        ul
          li
            a(href='#') 關於我
          li
            a(href='design_list.html') 平面作品
          li
            a(href='#') 網頁設計作品
          li
            a(href='#') 聯絡我
  // header end
  img.img-fluid(src='https://picsum.photos/1280/360' alt='')
  // content start
  .container
    h2.text-center 最新作品一覽
    .row
      .col-3
        a(href='#')
          img.img-fluid.img-rounded(src='https://picsum.photos/240/240' alt='')
        p.title.text-center
          a(href='#') 作品標題1
        p.date.text-center 2022-6-15
      .col-3
        a(href='#')
          img.img-fluid.img-rounded(src='https://picsum.photos/240/240' alt='')
        p.title.text-center
          a(href='#') 作品標題2
        p.date.text-center 2022-6-15
      .col-3
        a(href='#')
          img.img-fluid.img-rounded(src='https://picsum.photos/240/240' alt='')
        p.title.text-center
          a(href='#') 作品標題3
        p.date.text-center 2022-6-15
      .col-3
        a(href='#')
          img.img-fluid.img-rounded(src='https://picsum.photos/240/240' alt='')
        p.title.text-center
          a(href='#') 作品標題4
        p.date.text-center 2022-6-15
      .col-3
        a(href='#')
          img.img-fluid.img-rounded(src='https://picsum.photos/240/240' alt='')
        p.title.text-center
          a(href='#') 作品標題5
        p.date.text-center 2022-6-15
      .col-3
        a(href='#')
          img.img-fluid.img-rounded(src='https://picsum.photos/240/240' alt='')
        p.title.text-center
          a(href='#') 作品標題6
        p.date.text-center 2022-6-15
      .col-3
        a(href='#')
          img.img-fluid.img-rounded(src='https://picsum.photos/240/240' alt='')
        p.title.text-center
          a(href='#') 作品標題7
        p.date.text-center 2022-6-15
      .col-3
        a(href='#')
          img.img-fluid.img-rounded(src='https://picsum.photos/240/240' alt='')
        p.title.text-center
          a(href='#') 作品標題8
        p.date.text-center 2022-6-15
  // content end
  // footer start
  // footer>.container>.row>dl.col-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
  footer
    .container
      .row
        dl.col-3
          dt 標題01
          dd
            a(href='#') 項目01
          dd
            a(href='#') 項目02
          dd
            a(href='#') 項目03
          dd
            a(href='#') 項目04
        dl.col-3
          dt 標題02
          dd
            a(href='#') 項目01
          dd
            a(href='#') 項目02
          dd
            a(href='#') 項目03
          dd
            a(href='#') 項目04
        dl.col-3
          dt 標題03
          dd
            a(href='#') 項目01
          dd
            a(href='#') 項目02
          dd
            a(href='#') 項目03
          dd
            a(href='#') 項目04
        dl.col-3
          dt 標題04
          dd
            a(href='#') 項目01
          dd
            a(href='#') 項目02
          dd
            a(href='#') 項目03
          dd
            a(href='#') 項目04
      p.copyright.text-center copyright
